@font-face {
    font-display: swap;
    font-family: 'Play';
    font-weight: 400;
    src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-weight: 700;
    src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v47-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 600;
    src: url('../fonts/roboto-v47-cyrillic_latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/roboto-v47-cyrillic_latin-700.woff2') format('woff2');
}

:root {
    --color-primary-light: #2B7FFF;
    --color-primary-dark: #011C44;
    --color-primary-white: #FFFFFF;
    --color-secondary-black: #000000;
    --color-secondary-dark-grey: #4A4A4A;
    --color-secondary-light-grey: #747272;
    --color-secondary-dark-blue: #011F4A;
}

/* Base */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-primary-white);
    color: var(--color-primary-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}


/* Button */
.button {
    margin-bottom: 14px;
    padding: 16px 32px;
    color: var(--color-primary-white);
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    border-radius: 32px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.button:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
    font-weight: 600;
}

/* Link */
.link-header {
    color: var(--color-primary-dark);
    text-decoration: none;
}

.link-header:hover {
    color: var(--color-primary-light);
}

.link-footer {
    color: var(--color-primary-white);
    font-size: 16px;
    text-decoration: none;
}

/* Header */
.header-container {
    display: flex;
    /* Дописати як додам спрайти */
}

.header-nav {
    display: flex;
    /* Дописати як додам спрайти */
}

.header-menu {
    display: flex;
    /* Дописати як додам спрайти  */
}

/* Section */
.section {
    padding: 48px 0;
}

.section-title {
    margin-bottom: 48px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
}

.section-title .brand {
    color: var(--color-primary-light);
}

.section-title.centered {
    text-align: center;
}

/* Hero section */
.hero-section {
    padding-top: 123px;
    padding-bottom: 127px;
}

.hero-title {
    margin-bottom: 40px;
    color: var(--color-primary-light);
    font-family: 'Play', sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.81;
    text-transform: capitalize;
    /* text-align: left; перевірити чи ок флексами вирівнюється і видалити якщо не потрібно*/
}

.hero-text {
    line-height: 1.17;
    margin-bottom: 16px;
}

.hero-text:last-child {
    color: var(--color-secondary-dark-grey);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 0;
}

/* Description section */

.description-section {
    padding-top: 0;
    padding-bottom: 88px;
}

.description-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.description-content {
    max-width: 709px;
}

.description-images {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.description-client-image {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 327px;
    /* height: 327px; */
    border-radius: 50%;
}

.description-client-image:first-child {
    align-self: flex-start;
}

.description-client-image:last-child {
    align-self: flex-end;
    margin-left: auto;
}

.description-title {
    padding-top: 40px;
    margin-bottom: 40px;
}

.description-title .brand {
    text-transform: capitalize;
}

.description-text {
    font-size: 22px;
    line-height: 1.72;
}

.description-text:last-child {
    margin-bottom: 0;
}

.description-text .wide {
    font-weight: 600;
    text-transform: capitalize;
}

/* Advantages section */
.advantages-section {
    padding-top: 88px;
}

.advantages-title {
    margin-bottom: 48px;
}

.advantages-text {
    color: var(--color-secondary-black);
    line-height: 1.33;
}

/* Procedures section */
.procedures-title {
    margin-bottom: 48px;
}

.procedures-text {
    color: var(--color-primary-white);
}

/* Contacts section */

.contacts-section {
    padding-bottom: 96px;
}

.contacts-title {
    margin-bottom: 48px;
}

.contacts-text {
    color: var(--color-primary-white);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.17;
}

.contacts-text .brand {
    color: var(--color-primary-light);
}

/* Footer */
.address-link {
    color: var(--color-primary-white);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.17;
}

.address-copyright {
    color: var(--color-secondary-light-grey);
    font-size: 13px;
    line-height: 1.17;
}